@{
    ViewData["Title"] = "Home Page";


    var currentUser = (User.Identity?.IsAuthenticated ?? false) ? User.Identity.Name : "Anonimo";

}

<div class="text-center">
    <h1 class="display-4">Welcome @currentUser</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

